<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Booking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-row style="height: 5vh;"></ion-row>

  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input type="text" [(ngModel)]="reservation.name"></ion-input>
  </ion-item>

  <ion-row style="height: 5vh;"></ion-row>

  <ion-item>
    <ion-label>Date and time</ion-label>
    <ion-datetime displayFormat="DDD, D MM YYYY HH:mm" [min]="currentDateTime" [max]="maxDateTime" [value]="currentDateTime"
      display-timezone="utc" [(ngModel)]="reservation.reservationDateTime"></ion-datetime>
  </ion-item>
  
  <ion-row style="height: 5vh;"></ion-row>

  <ion-item>
    <ion-label>Duration</ion-label>
    <ion-datetime displayFormat="HH:mm" [(ngModel)]="reservation.duration"></ion-datetime>
  </ion-item>  
</ion-content>

<ion-footer>
    <ion-button (click)="bookDateTime()" color="primary" expand="block"> Book a date </ion-button>
</ion-footer>
